footer {
    flex-shrink: 0;
    text-align: center;
    background-color: #0A91AB;
    padding: 10px;
    color: white;

    .footer-me {
        font-weight: bolder;
        text-decoration: none;
        color: white
    }

  }